body {
    margin: 0;
    box-sizing: border-box;
    max-width: 5000px;
    height: 200vh;
}
#youtube-icon {
    width: 35px;
    height: 35px;
}
nav {
    display: flex;
    align-items: center;
    height: 6vh;
    padding: 10px 20px;
    justify-content: space-between;
    /* border: 2px solid black; */
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    background-color: white;
    z-index: 1;
}
nav>div {
    display: flex;
    align-items: center;
    height: 85%;
    /* border: 2px solid black; */
}
.logo{
    display: flex;
    align-items: center;
    height: 85%;
    text-decoration: none;
    color: black;
}
#search-container{
    width: 50%;
    position: relative;
    max-width: 600px;
    min-width: 100px;
}
#search-container>input{
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 50px;
    border: 1px solid rgba(128, 128, 128, 0.638);
    font-size: 1rem;
}
#search-container>span{
    position: absolute;
    right: 2px;
    height: 95%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: rgb(248,249,249);
    border: none;
    border-left: 1px solid hsla(0, 0%, 50%, 0.638);
    /* border: 1px solid grey; */
    width: 8%;
}

.utility-icons {
    height: 20px;
    width: 20px;
}
#search-box:focus{
    outline: none;
}
#user-profile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
nav>div:nth-of-type(3){
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15vw;
}
button{
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s;
    background-color: rgb(240,240,241);
}
button:hover{
    background-color: rgb(202, 202, 203);
}
#theme-button{
    height: 80%;
    width: 40%;
}
#Homepage{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
/* #Homepage>*{
    border: 1px solid black;
} */
#Homepage>#sidebar{
    width: 15vw;
    padding: 10px;
    position: sticky;
    /* border: 2px solid red; */
    left: 0;
    top: 10vh;
    align-self: flex-start;
}
section#home{
    flex: 2;
}
#sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
#sidebar ul>li{
    margin-bottom: 10px;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s;
    font-size: 1.1rem;
    font-weight: 550;
}
#sidebar ul>li:hover{
    background-color: rgb(243,242,243);
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
}
.video-redirector{
    text-decoration: none;
    color: black;
}
.video-container{
    max-width: 350px;
    max-height: auto;
    margin-bottom: 15px;
    /* border: 2px solid orange; */
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: start; */
    transition: 0.4s;
}
.video-container p{
    text-wrap: wrap;
}
.video-container:hover{
    background-color: rgba(202, 202, 203, 0.455);
}
.thumbnail{
    border-radius: 10px;
    margin: 0;
    margin-bottom: 10px;
}
.card-video-details{
    padding: 5px;
    display: flex;
    /* border: 2px solid red; */
}
.card-video-details>div{
    /* border: 2px solid yellow; */
    padding: 10px;
}
.card-video-details>p{
    margin-top: -10px;
}
.card-video-details>div>img{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
}
.card-video-details>div>*{
    margin: 0;
    margin-bottom: 10px;
}





.dark{
    background-color: black;
}
.dark *{
    color: white;
}
.dark nav{
    background-color: black;
}
.dark input::placeholder{
    color: grey;
}
.dark input{
    background-color: black;
    border-color: rgb(49,48,49);
}
.dark #search-container>span{
    background-color: rgb(34,35,35);
    border-color: rgb(49,48,49);
}
.dark button{
    background-color: rgb(39,39,39);
}
.dark button:hover{
    background-color: rgb(75, 75, 75);
}
.dark .video-container:hover{
    background-color: rgba(75, 75, 75, 0.404);
}